.TeamView-top {
    text-align: center;
    position: relative;
    width: 100%;
}

.TeamView-cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.TeamView-cells>div {
    margin: 2px 5px
}

.TeamView-title {
    color: #a1a1a1;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-bottom: 8px;
    padding-left: 8px;
}