.TeamView-top {
    text-align: center;
    position: relative;
    width: 100%;
}

.TeamView-cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.TeamView-cells>div {
    margin: 2px 5px
}