.TeamView-top {}

.TeamView-cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.TeamView-cells>div {
    margin: 2px 5px
}