.ToolBox-top {
    color: #fefefe;
    /* border-bottom: 1px solid rgb(101, 101, 101); */
    padding: 8px 8px 20px 8px;
    margin-bottom: 20px;
    display: flex;
    background-color: #151515;
    position: relative;
}

.ToolBox-grad {
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0px;
    height: 4px;
    background: linear-gradient(0deg, rgba(32, 32, 32, 1) 0%, rgba(21, 21, 21, 1)100%);
}